*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background-color: #eeeeee; }

.toasty-web {
  position: fixed;
  bottom: -80px;
  left: 0;
  right: 0;
  font-size: 16px;
  z-index: 1000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  transition: bottom .2s ease-in-out; }
  .toasty-web.show {
    bottom: 80px; }
  .toasty-web > .toasty-web-container {
    background-color: #646464;
    color: #FFFFFF;
    border-radius: 50px;
    display: inline-block; }
    .toasty-web > .toasty-web-container > .toasty-icon-container {
      display: inline-block;
      vertical-align: middle;
      padding: 15px 10px 15px 30px;
      margin-top: -3px;
      font-size: 1.5em; }
    .toasty-web > .toasty-web-container > .toasty-text-container {
      display: inline-block;
      padding: 15px 40px 15px 0;
      font-size: .9em; }
