*, *:before, *:after {
  box-sizing: border-box;
}

.toasty-web {
  position: fixed;
  bottom: -80px;
  left: 0;
  right: 0;

  font-size: 16px;

  z-index: 1000;

  display: flex;
  justify-content: center;

  transition: bottom .2s ease-in-out;
  
  &.show {
    //display: flex !important;
    bottom: 80px;
  }

  & > .toasty-web-container {
    background-color: #646464;
    color: #FFFFFF;

    border-radius: 50px;

    display: inline-flex;
    align-items: center;
    max-width: 90%;

    & > .toasty-icon-container {
      display: inline-block;
      width: calc(40px + 1.5ex);

      padding: 15px 10px 15px 30px;

      font-size: 1.5em;
    }

    & > .toasty-text-container {
      display: inline-block;
      width: calc(100% - (40px + 1.5ex));
      padding: 15px 40px 15px 0;

      font-size: .9em;
    }
  }
}
